{{> header}}
<a href="/">Back to home</a>
<h1>Search results for "{{query}}"</h1>
{{#if results}}
<recipe-cards>
    {{#each results}}
    <a href="/recipe/{{recipe_id}}">
        <recipe-card>
            <h4>{{name}}</h4>
            <img src="{{thumbnail}}" alt="{{name}}">
        </recipe-card>
    </a>
    {{/each}}
</recipe-cards>
{{else}}
<p>No results found</p>
{{/if}}
{{> footer}}